In [4]:
import pandas as pd

In [9]:
df = pd.read_json('ds.json')

In [10]:
df.describe()

       externalStatus    internalStatus
count            1222              1222
unique            108                15
top          Gate out  Loaded on Vessel
freq              144               331

In [11]:
df.isnull().sum()

externalStatus    0
internalStatus    0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1222 entries, 0 to 1221
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   externalStatus  1222 non-null   object
 1   internalStatus  1222 non-null   object
dtypes: object(2)
memory usage: 19.2+ KB

In [13]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [14]:
df.describe()

       externalStatus    internalStatus
count             108               108
unique            108                15
top          PORT OUT  Loaded on Vessel
freq                1                49

In [16]:
df['externalStatus'] = df['externalStatus'].str.strip()

In [17]:
# Standardize
df['externalStatus'] = df['externalStatus'].str.lower()
df['internalStatus'] = df['internalStatus'].str.lower()
df['internalStatus'] = df['internalStatus'].str.strip()

# Convert categorical columns to categorical data type
df['externalStatus'] = df['externalStatus'].astype('category')
df['internalStatus'] = df['internalStatus'].astype('category')

In [18]:
df.head()

                                      externalStatus    internalStatus
0                                           port out          port out
1                                        terminal in  inbound terminal
2                                            port in           port in
3  vessel departure from first pol (vessel name :...         departure
4  vessel arrival at final pod (vessel name : tia...           arrival

In [19]:
df.describe()

         externalStatus    internalStatus
count               108               108
unique              105                15
top     loaded on board  loaded on vessel
freq                  2                49

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 0 to 1016
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   externalStatus  108 non-null    category
 1   internalStatus  108 non-null    category
dtypes: category(2)
memory usage: 6.6 KB

In [21]:
#csv convertion
df.to_csv('cleaned_ds.csv', index=False)

In [22]:
df.head()

                                      externalStatus    internalStatus
0                                           port out          port out
1                                        terminal in  inbound terminal
2                                            port in           port in
3  vessel departure from first pol (vessel name :...         departure
4  vessel arrival at final pod (vessel name : tia...           arrival

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 0 to 1016
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   externalStatus  108 non-null    category
 1   internalStatus  108 non-null    category
dtypes: category(2)
memory usage: 6.6 KB

In [25]:
df=pd.read_csv('cleaned_ds.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   externalStatus  108 non-null    object
 1   internalStatus  108 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [29]:

from sklearn.preprocessing import LabelEncoder
ext_enc = LabelEncoder()
int_enc = LabelEncoder()

df['ext_encoded'] = ext_enc.fit_transform(df['externalStatus'])
df['int_encoded'] = int_enc.fit_transform(df['internalStatus'])

df.to_csv('cleaned_ds.csv', index=False)

In [30]:
df

,externalStatus,internalStatus,ext_encoded,int_encoded
0,port out,port out,89,13
1,terminal in,inbound terminal,91,7
2,port in,port in,88,12
3,vessel departure from first pol (vessel name :...,departure,104,1
4,vessel arrival at final pod (vessel name : tia...,arrival,101,0
...,...,...,...,...
103,'marina one 001s' arrival at port of dischargi...,arrival,0,0
104,unloaded from 'marina one 001s' at port of dis...,unloaded on vessel,95,14
105,load on mogens maersk / 246w,loaded on vessel,59,8
106,load on msc alexandra / 248w,loaded on vessel,60,8
107,estimated time of arrival,arrival,20,0

In [31]:
import tensorflow as tf

In [34]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(1,)),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dropout(0.2),  
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dropout(0.2), 
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dropout(0.2),model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
    tf.keras.layers.Dense(len(df['internalStatus'].unique()), activation='softmax')
])

In [35]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X = df['ext_encoded'].values.reshape(-1, 1)

In [58]:
y = df['int_encoded'].values

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
history = model.fit(X_train, y_train, epochs=20, batch_size=64, validation_split=0.2)

Epoch 1/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 2s 234ms/step - accuracy: 0.0548 - loss: 12.9495 - val_accuracy: 0.0556 - val_loss: 3.9590
Epoch 2/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step - accuracy: 0.1201 - loss: 11.0831 - val_accuracy: 0.3333 - val_loss: 3.4868
Epoch 3/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step - accuracy: 0.0849 - loss: 8.9782 - val_accuracy: 0.3333 - val_loss: 3.4448
Epoch 4/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step - accuracy: 0.0999 - loss: 8.5526 - val_accuracy: 0.3333 - val_loss: 3.7008
Epoch 5/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step - accuracy: 0.1749 - loss: 6.9109 - val_accuracy: 0.3333 - val_loss: 3.9601
Epoch 6/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step - accuracy: 0.2200 - loss: 6.0224 - val_accuracy: 0.3333 - val_loss: 4.1182
Epoch 7/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - accuracy: 0.1599 - loss: 6.5909 - val_accuracy: 0.3333 - val_loss: 4.0778
Epoch 8/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step - accuracy: 0.2246 - loss: 4.2788 - val_accuracy: 0.3333 - val_loss: 3.9992
Epoch 9/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step - accuracy: 0.2050 - loss: 5.8409 - val_accuracy: 0.3333 - val_loss: 3.9196
Epoch 10/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step - accuracy: 0.2950 - loss: 6.8693 - val_accuracy: 0.3333 - val_loss: 3.7973
Epoch 11/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step - accuracy: 0.2800 - loss: 7.7063 - val_accuracy: 0.3333 - val_loss: 3.6031
Epoch 12/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step - accuracy: 0.2050 - loss: 4.1189 - val_accuracy: 0.3333 - val_loss: 3.4371
Epoch 13/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step - accuracy: 0.2500 - loss: 4.3560 - val_accuracy: 0.3333 - val_loss: 3.3031
Epoch 14/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step - accuracy: 0.2252 - loss: 4.5104 - val_accuracy: 0.3333 - val_loss: 3.1698
Epoch 15/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - accuracy: 0.3153 - loss: 5.8120 - val_accuracy: 0.3333 - val_loss: 3.0228
Epoch 16/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step - accuracy: 0.2898 - loss: 4.4053 - val_accuracy: 0.3333 - val_loss: 2.8844
Epoch 17/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step - accuracy: 0.3146 - loss: 3.3596 - val_accuracy: 0.3333 - val_loss: 2.7905
Epoch 18/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step - accuracy: 0.2350 - loss: 4.0440 - val_accuracy: 0.3333 - val_loss: 2.7280
Epoch 19/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step - accuracy: 0.2546 - loss: 3.9164 - val_accuracy: 0.3333 - val_loss: 2.6770
Epoch 20/20
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step - accuracy: 0.3199 - loss: 3.6663 - val_accuracy: 0.3333 - val_loss: 2.6467

In [61]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [69]:
y_pred = model.predict(X_test)
y_pred_classes = y_pred.argmax(axis=-1)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 58ms/step

In [63]:
precision = precision_score(y_test, y_pred_classes, average='weighted', zero_division=0)

In [64]:
accuracy = accuracy_score(y_test, y_pred_classes)
precision = precision_score(y_test, y_pred_classes, average='weighted', zero_division=0)
recall = recall_score(y_test, y_pred_classes, average='weighted', zero_division=0)

In [68]:
print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')

Accuracy: 0.50
Precision: 0.25
Recall: 0.50

In [67]:

model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(1,)), 
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dropout(0.5),  
    tf.keras.layers.Dense(128, activation='relu'),  
    tf.keras.layers.Dropout(0.5), 
    tf.keras.layers.Dense(64, activation='relu'), 
    tf.keras.layers.Dropout(0.5), 
    tf.keras.layers.Dense(len(df['internalStatus'].unique()), activation='softmax')
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])